@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/*font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;*/
*{
    margin: 0;
    padding: 0;
}
:root{
    --back:#128580;
    --white:#ffffff;
    --yellow:#ffdb17;
    --grey:#959595;
    --dblue:#151f28;
    --br:8px;
}
body{
    background: var(--back);
}
.container{
    max-width: 1300px;
    margin: 20px auto;
}


/*navbar star*/


.logo{
    width: 90px;
}
.nav{
    padding:5px 20px;
    border-radius: var(--br);
    background: var(--white);
    justify-content: space-between;
    display: flex;
}
.menuClose{
    display: none;
    color: var(--back);
    background: var(--white);
    width: 35px;
    height: 35px;
    margin-top: 6px;
    cursor: pointer;
}
.menu{
    color: var(--back);
    background: var(--white);
    width: 35px;
    height: 35px;
    margin-top: 6px;
    cursor: pointer;
}
a{
    cursor: pointer;
}
#nav-items{
    display:none
}
.nav-items{
    background: var(--white);
    margin-top: 10px;
    border-radius: var(--br);
    padding: 10px 20px;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
li{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    color: var(--back);
    font-size: 18px;
    border: 1px solid var(--back);
    border-radius: var(--br);
    padding: 10px;
    cursor: pointer;
    width: 100px;
    text-align: center;
}
li:hover{
    background: var(--yellow);
    border: none;
    color: var(--white);
}
.menuClose{
    width: 30px;
    height: 30px;
    margin-top: 10px;
}
.menu{
    width: 30px;
    height: 30px;
    margin-top: 10px;
}


/*navbar end*/
/*login start*/
.login{
    margin-top: 10px;
    padding-top: 100px;
    background: var(--white);
    border-radius: var(--br);
    padding-bottom: 100px;
}

.form-div{
    max-width: 320px;
    margin: 20px auto 20px auto;
    border: 1px solid var(--back);
    border-radius: var(--br);
    padding: 30px;
}
.label{ 
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
    color: var(--back);
    font-size: 20px;
}
input{
    border: 1px solid var(--back);
    padding: 10px;
    border-radius: var(--br);
    width: 300px;
    margin-top: 10px;
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    color: var(--back);
    font-size: 17px;
}
.submit{
    width: 320px;
    color: var(--white);
    background: var(--back);
    border: none;
}
.submit:hover{
    color: var(--dblue);
    background: var(--yellow);
}
.login-title{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:500;
    color: var(--back);
    font-size: 35px;
    text-align: center;
    font-style:normal;
}
.forgot{
    margin-top: 20px;
    color: var(--back);
    margin-left: 170px;
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:500;
    color: var(--back);
}
.forgot:hover{
    color: var(--dblue);
}
.dont{
    margin-top: 10px;
    color: var(--back);
    margin-left: 125px;
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:500;
    color: var(--back);
}
.dont:hover{
    color: var(--dblue);
}
/*login end*/

/*register start*/
.register{
    margin-top: 10px;
    padding-top: 40px;
    background: var(--white);
    border-radius: var(--br);
    padding-bottom: 100px;
}
/*register end*/

/*search start*/
.search{
    background: var(--white);
    margin-top: 10px;
    border-radius: var(--br);
    padding: 7px;
}
.search-container{
    border: 2px solid var(--back);
    border-radius: var(--br) ;
    display: flex;
}
.search-box{
    margin-top: 0px;
    width: 1300px;
    border: none;
    border-radius: 8px 0px 0px 8px;
}
.button{
    border:none;
    background: none;
    color: var(--back);
    width: 50px;
    padding-top: 5px;
    cursor: pointer;
}
.search-icon{
    width: 26px;
    height: 26px;
}
/*serch end*/
/*product*/
.product-container{
    background: var(--white);
    padding: 20px;
    border-radius: var(--br);
    margin-top: 10px;
}
.category-heading{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:600;
    color: var(--back);
}
.dairy{
    border: 1px solid var(--back);
    padding: 10px;
    border-radius: var(--br);
}
.product{
    border: 1px solid var(--back);
    padding: 10px;
    border-radius: var(--br);
    margin-top: 10px;
    display: flex;
    width: 380px;
}
.product:hover{
    .product-name{
        
        color: var(--back);
    }
}
.products{
    display: flex;
    justify-content: space-around;
}
.product-image{
    width: 170px;
    height: 170px;
    margin-top: 20px;
    
}
.product-details{
    padding: 30px;
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:600;
    color: var(--dblue);
    font-size: 20px;
}
.price{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:600;
    color: var(--dblue);
    font-size: 18px;
    margin-top: 30px;
}
.discount{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:600;
    color: var(--back);
    text-decoration: line-through;
    font-size: 17px;
}
.show-more{
    padding: 10px;
    border-radius: var(--br);
    text-align: center;
    margin: 10px auto 0px auto;
    background: var(--back);
    color: var(--white);
}
.show-more:hover{
    background: var(--yellow);
    color: var(--dblue);
}
.add{
    padding: 5px;
    background: var(--yellow);
    text-align: center;
    border-radius: var(--br);
    margin-top: 10px;
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:600;
    color: var(--dblue);
}
.add:hover{
    background: var(--back);
    color: var(--white);
}
/*product*/


@media screen and (max-width:450px) {
    .container{
        max-width: 370px;
        margin: 20px auto;
    }
    /*navbar start*/
    ul{
        display: block;
    }
    li{
        margin: 10px auto 10px auto;
        width: 200px;
    }
    .logo{
        width: 70px;
        margin-top: 10px;
    }
    .nav{
        padding:0px 20px;
    }
    /*navbar end*/
    /*login start*/
        
    .login{
        padding-top: 60px;
        padding-bottom: 100px;
    }

    .form-div{
        max-width: 280px;
    }
    .label{ 
        font-size: 18px;
    }
    input{
        width: 260px;
        font-size: 15px;
    }
    .submit{
        width: 282px;
    }
    .login-title{
        font-size: 32px;
    }
    .forgot{
        margin-left: 100px;
    }
    .dont{
        margin-left: 56px;
    }
    /*login end*/
    /*register start*/
    .register{
        margin-top: 10px;
        padding-top: 30px;
    }
    /*register end*/
    /*search start*/

    .search-box{
        width: 330px;
    }
    /*search end*/   
    

    
/*product*/
.product-container{
    padding: 10px;
}


.product{
    display: block;
    width: 305px;
}
.products{
    display: block;
    justify-content: space-around;
}
.product-image{
    
    width: 200px;
    margin-left: 40px;
}
.price-div{
    display: flex;
    justify-content: space-between;
}
.product-details{
    padding: 10px;
    font-size: 18px;
}
.price{
    font-size: 18px;
    margin-top: 5px;
}
.discount{
    margin-top: 5px;
}
/*product*/


}

@media screen and (max-width:376px){
   
    .container{
        max-width: 330px;
        margin: 15px auto 20px auto;
    }
    /*login start*/
    .form-div{
        max-width: 250px;
    }

    input{
        width: 235px;
    }
    .submit{
        width: 258px;
    }
    /*login end*/
    /*search start*/

    .search-box{
        width: 255px;
    }
    /*search end*/   
    
/*product*/
.product-container{
    padding: 10px;
}


.product{
    width: 265px;
}
.product-image{
    width: 200px;
    margin-left: 30px;
}
/*product*/

}
