@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/*font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;*/
*{
    margin: 0;
    padding: 0;
}
:root{
    --back:#128580;
    --white:#ffffff;
    --yellow:#ffdb17;
    --grey:#959595;
    --dblue:#151f28;
    --br:8px;
}
body{
    background: var(--back);
}
.container{
    max-width: 1300px;
    margin: 20px auto;
}


/*navbar star*/


.logo{
    width: 90px;
}
.nav{
    padding:5px 20px;
    border-radius: var(--br);
    background: var(--white);
    justify-content: space-between;
    display: flex;
}
.menuClose{
    display: none;
    color: var(--back);
    background: var(--white);
    width: 35px;
    height: 35px;
    margin-top: 6px;
    cursor: pointer;
}
.menu{
    color: var(--back);
    background: var(--white);
    width: 35px;
    height: 35px;
    margin-top: 6px;
    cursor: pointer;
}
a{
    cursor: pointer;
}
#nav-items{
    display:none
}
.nav-items{
    background: var(--white);
    margin-top: 10px;
    border-radius: var(--br);
    padding: 10px 20px;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
li{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    color: var(--back);
    font-size: 18px;
    border: 1px solid var(--back);
    border-radius: var(--br);
    padding: 10px;
    cursor: pointer;
    width: 100px;
    text-align: center;
}
li:hover{
    background: var(--yellow);
    border: none;
    color: var(--white);
}
.menuClose{
    width: 30px;
    height: 30px;
    margin-top: 10px;
}
.menu{
    width: 30px;
    height: 30px;
    margin-top: 10px;
}


/*navbar end*/
/*login start*/
.login{
    margin-top: 10px;
    padding-top: 100px;
    background: var(--white);
    border-radius: var(--br);
    padding-bottom: 100px;
}

.form-div{
    max-width: 320px;
    margin: 20px auto 20px auto;
    border: 1px solid var(--back);
    border-radius: var(--br);
    padding: 30px;
}
.label{ 
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
    color: var(--back);
    font-size: 20px;
}
input{
    border: 1px solid var(--back);
    padding: 10px;
    border-radius: var(--br);
    width: 300px;
    margin-top: 10px;
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    color: var(--back);
    font-size: 17px;
}
.submit{
    width: 320px;
    color: var(--white);
    background: var(--back);
    border: none;
}
.submit:hover{
    color: var(--dblue);
    background: var(--yellow);
}
.login-title{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:500;
    color: var(--back);
    font-size: 35px;
    text-align: center;
    font-style:normal;
}
.forgot{
    margin-top: 20px;
    color: var(--back);
    margin-left: 170px;
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:500;
    color: var(--back);
}
.forgot:hover{
    color: var(--dblue);
}
.dont{
    margin-top: 10px;
    color: var(--back);
    margin-left: 125px;
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:500;
    color: var(--back);
}
.dont:hover{
    color: var(--dblue);
}
/*login end*/

/*register start*/
.register{
    margin-top: 10px;
    padding-top: 40px;
    background: var(--white);
    border-radius: var(--br);
    padding-bottom: 100px;
}
/*register end*/

/*search start*/
.search{
    background: var(--white);
    margin-top: 10px;
    border-radius: var(--br);
    padding: 7px;
}
.search-container{
    border: 2px solid var(--back);
    border-radius: var(--br) ;
    display: flex;
}
.search-box{
    margin-top: 0px;
    width: 1300px;
    border: none;
    border-radius: 8px 0px 0px 8px;
}
.button{
    border:none;
    background: none;
    color: var(--back);
    width: 50px;
    padding-top: 5px;
    cursor: pointer;
}
.search-icon{
    width: 26px;
    height: 26px;
}
/*serch end*/
/*product*/
.product-container{
    background: var(--white);
    padding: 20px;
    border-radius: var(--br);
    margin-top: 10px;
}
.category-heading{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:600;
    color: var(--back);
}
.dairy{
    border: 1px solid var(--back);
    padding: 10px;
    border-radius: var(--br);
}
.product{
    border: 1px solid var(--back);
    padding: 10px;
    border-radius: var(--br);
    margin-top: 10px;
    display: flex;
    width: 380px;
}
.product:hover{
    .product-name{
        
        color: var(--back);
    }
}
.products{
    display: flex;
    justify-content: space-around;
}
.product-image{
    width: 170px;
    height: 170px;
    margin-top: 20px;
    
}
.product-details{
    padding: 30px;
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:600;
    color: var(--dblue);
    font-size: 20px;
}
.price{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:600;
    color: var(--dblue);
    font-size: 18px;
    margin-top: 30px;
}
.discount{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:600;
    color: var(--back);
    text-decoration: line-through;
    font-size: 17px;
}
.show-more{
    padding: 10px;
    border-radius: var(--br);
    text-align: center;
    margin: 10px auto 0px auto;
    background: var(--back);
    color: var(--white);
    cursor: pointer;
}
.show-more:hover{
    background: var(--yellow);
    color: var(--dblue);
}
.add{
    padding: 5px;
    background: var(--yellow);
    text-align: center;
    border-radius: var(--br);
    margin-top: 10px;
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:600;
    color: var(--dblue);
    font-size: 16px;
    cursor: pointer;
}
.add:hover{
    background: var(--back);
    color: var(--white);
}
/*product end*/
/*footer start*/
.footerContainer{
    background: var(--white);
    margin-top: 10px;
    border-radius: var(--br);
    padding: 10px;
}
.footer{
    
    display: flex;
   
}
.footerLogo{
    width: 300px;
    margin-left: 45px;
}
.col1{
    padding: 20px;
    width: 400px;
}
.meezan{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:400;
    color: var(--dblue);
    line-height: 23px;
    margin-top: 15px;
    font-size: 14px;
}
.footerSocial{
    width: 22px;
    height: 22px;
    margin-top: 20px;
    margin-right: 10px;
    color: var(--white);
    background: var(--back);
    padding: 6px;
    border-radius: 50px;
}
.socials{
    text-align: center;
}
.col2{
    display: flex;
    justify-content: space-between;
    width: 320px;
    padding: 20px;
    margin-top: 40px;
    
}
.footerLink{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:400;
    color: var(--dblue);
    line-height: 23px;
    margin-top: 15px;
    font-size: 17px;
    color:var(--dblue)
}
.footerLink:hover{
    color: var(--back);
}
.col3{
    width: 400px;
    padding: 20px;
    margin-top: 40px;
    margin-left: 10px;
}
.accepted{ 
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:400;
    color: var(--dblue);
}
.paymentlogo{
    width: 50px;
}
.paymentImages{
    margin-top: 10px;
    justify-content: space-between;
}
.copyright{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:400;
    color: rgb(106, 106, 106);
    margin: 10px 30px 10px 30px;
    border: 1px solid var(--back);
    padding: 15px;
}

/*footer end*/
/*profile start*/
.profile{
    margin-left:50px ;
}
.profileDetails{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-size: 20px;
    margin-top: 10px;
    color: var(--dblue);
}
.profilebutton{
    background: var(--yellow);
    width: 200px;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    border-radius: var(--br);
    color: var(--dblue);
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-size: 20px;

}
.profilebutton:hover{
    background: var(--back);
    color: var(--white);
}
/*profile end*/
/*product detail start*/
.productDetailImg{
    width: 400px;
    margin-left: 200px;
}
.productdetail{
    margin-top: 10px;
    padding-top: 100px ;
    background: var(--white);
    border-radius: var(--br);
    padding-bottom: 100px;
    display: flex;
}
.productdetails{
    margin:70px 50px 50px 100px;
    width: 100%;
}
.pname{
    color: var(--back);
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:600;
    font-size: 40px;
    
    margin-bottom: 10px;
}
.price{
    color: var(--dblue);
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-size: 15px;
    font-size: 30px;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}
.pricedis{
    color: var(--back);
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-size: 15px;
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: line-through;
}
.addtocart{
    display: flex;
    margin: 40px 0px;
}
.qty{
    width: 50px;
    margin-top: 1px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--dblue);
}
.minus{
    background: red;
    width: 20px;
    padding: 0px 6px 0px 6px;
    text-align: center;
    font-size: 35px;
    height: 42px;
    border-radius: var(--br);
    color: var(--white);
    cursor: pointer;
    
}
.plus{
    background: var(--back);
    width: 20px;
    padding: 5px 6px 0px 6px;
    text-align: center;
    font-size: 30px;
    height: 38px;
    border-radius: var(--br);
    color: var(--white);
    cursor: pointer;
}

/*product detail end*/
@media screen and (max-width:450px) {
    .container{
        max-width: 370px;
        margin: 20px auto;
    }
    /*navbar start*/
    ul{
        display: block;
    }
    li{
        margin: 10px auto 10px auto;
        width: 200px;
    }
    .logo{
        width: 70px;
        margin-top: 10px;
    }
    .nav{
        padding:0px 20px;
    }
    /*navbar end*/
    /*login start*/
        
    .login{
        padding-top: 60px;
        padding-bottom: 100px;
    }

    .form-div{
        max-width: 280px;
    }
    .label{ 
        font-size: 18px;
    }
    input{
        width: 260px;
        font-size: 15px;
    }
    .submit{
        width: 282px;
    }
    .login-title{
        font-size: 32px;
    }
    .forgot{
        margin-left: 100px;
    }
    .dont{
        margin-left: 56px;
    }
    /*login end*/
    /*register start*/
    .register{
        margin-top: 10px;
        padding-top: 30px;
    }
    /*register end*/
    /*search start*/

    .search-box{
        width: 330px;
    }
    /*search end*/   
    

    
/*product*/
.product-container{
    padding: 10px;
}


.product{
    display: block;
    width: 305px;
}
.products{
    display: block;
    justify-content: space-around;
}
.product-image{
    
    width: 200px;
    margin-left: 40px;
}
.price-div{
    display: flex;
    justify-content: space-between;
}
.product-details{
    padding: 10px;
    font-size: 18px;
}
.price{
    font-size: 18px;
    margin-top: 5px;
}
.discount{
    margin-top: 5px;
}
/*product*/

/*footer start*/

.footer{
    display: block;
}
.footerLogo{
    width: 200px;
    margin-left: 52px;
}
.col1{
    width: 310px;
}
.meezan{
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
}
.footerSocial{
    width: 20px;
    height: 20px;
    margin-top: 15px;
}

.col2{
    width: 310px;
    padding: 20px;
    margin-top: -20px;
    
}
.footerLink{
    line-height: 20px;
    margin-top: 15px;
    font-size: 16px;
}
.col3{
    width: 310px;
}
.paymentlogo{
    width: 55px;
}

/*footer end*/

/*product detail start*/
.productDetailImg{
    width: 200px;
    margin-left: 50px;
    margin-top: -50px;
}
.productdetail{
    display: block;
}
.productdetails{
    margin:10px 20px -30px 20px;
    
}
.pname{
    font-size: 30px;
    
}
.price{
    font-size: 25px;
}
.pricedis{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.addtocart{
    display: flex;
    margin: 10px 0px;
}

/*product detail end*/

}

@media screen and (max-width:376px){
   
    .container{
        max-width: 330px;
        margin: 15px auto 20px auto;
    }
    /*login start*/
    .form-div{
        max-width: 250px;
    }

    input{
        width: 235px;
    }
    .submit{
        width: 258px;
    }
    /*login end*/
    /*search start*/

    .search-box{
        width: 255px;
    }
    /*search end*/   
    
/*product*/
.product-container{
    padding: 10px;
}


.product{
    width: 265px;
}
.product-image{
    width: 200px;
    margin-left: 30px;
}
/*product*/


/*footer start*/

.footer{
    display: block;
}
.footerLogo{
    width: 200px;
    margin-left: 40px;
}
.col1{
    width: 270px;
}
.meezan{
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
}
.footerSocial{
    width: 20px;
    height: 20px;
    margin-top: 15px;
}

.col2{
    width: 270px;
    padding: 20px;
    margin-top: -20px;
    
}
.footerLink{
    line-height: 20px;
    margin-top: 15px;
    font-size: 16px;
}
.col3{
    width: 270px;
}
.paymentlogo{
    width: 40px;
}

/*footer end*/


}




